# Base16 Synth Midnight Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

_gen_fzf_default_opts() {

local color00='#040404'
local color01='#141414'
local color02='#242424'
local color03='#61507a'
local color04='#bfbbbf'
local color05='#dfdbdf'
local color06='#efebef'
local color07='#fffbff'
local color08='#b53b50'
local color09='#e4600e'
local color0A='#dae84d'
local color0B='#06ea61'
local color0C='#7cede9'
local color0D='#03aeff'
local color0E='#ea5ce2'
local color0F='#9d4d0e'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
